@import url('https//fontsgoogleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
} 

.container{
	width: 100%;
	min-height: 100vh;
	background-color: #f7f7f7;
}
.container .row{
	width: 80%;
	margin: 0px auto;
}
.container .row .heading{
	width: 60%;
	text-align: center;
	margin: 0px auto;
}
.container .row .heading h1{
	padding-top: 30px;
	font-size: 42px;
	color: #000;
}
.container .row .heading p{
	margin-top: 15px;
	color: #6e6e6e;
	font-size: 17px;
	line-height: 1.5;
}
.content{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px auto;
}
.content .card{
	flex: 1;
	margin: 40px 20px;
}
.content .card img{
	width: 100%;
	height: auto;
}
.content .card .text-title{
	font-size: 15px;
	font-weight: bold;
	color: #000;
}
.content .card span{
	color: #6e6e6e;
	font-weight: normal;
}
.content .card h4{
	margin-top: 5px;
	font-size: 17px;
}
.content .card p{
	font-size: 16px;
	margin-top: 10px;
	color: #6e6e6e;
	line-height: 1.5;
}
@media screen and (max-width: 768px){
	.content{
		flex-direction: column;
	}
}